gcp_project_id  = "clonevoice"
gcp_region      = "us-central1"
gcp_zone        = "us-central1-a"
environment     = "dev"
machine_type    = "g2-standard-8"
gpu_type        = "nvidia-l4"
gpu_count       = 1
preemptible_vm  = true
container_image = "us-central1-docker.pkg.dev/clonevoice/clone-voice-repo/clone-voice-mlops:latest"
